<div class="footerContainer">
    <img class="imgFooter" src="../../assets/footer_zomato.png" />
    <div class="footerLinkContainer">
        <div class="footerLinks">
            <span>ABOUT ZOMATO</span>
            <ul>
                <li>Who We Are</li>
                <li>Blog</li>
                <li>Work With Us</li>
                <li>Investor Relations</li>
                <li>Report Fraud</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="footerLinks">
            <span>ZOMAVERSE</span>
            <ul>
                <li>Zomato</li>
                <li>Blinkit</li>
                <li>Feeding India</li>
                <li>Hyperpure</li>
                <li>Zomaland</li>
            </ul>
        </div>
        <div class="footerLinks">
            <span>FOR RESTAURANTS</span>
            <ul>
                <li>Partner With Us</li>
                <li>Apps For You</li>
            </ul>
            <span>FOR ENTERPRISES</span>
            <ul>
                <li>Zomato For Work</li>
            </ul>
        </div>
        <div class="footerLinks">
            <span>LEARN MORE</span>
            <ul>
                <li>Privacy</li>
                <li>Security</li>
                <li>Terms</li>
                <li>Sitemap</li>
            </ul>
        </div>
        <div class="footerLinks">
            <span>SOCIAL LINKS</span>
            <ul>
                <li>
                    <img class="icons" src="https://b.zmtcdn.com/data/webuikit/9f0c85a5e33adb783fa0aef667075f9e1556003622.png" />
                </li>
                <li>
                    <img class="icons" src="https://b.zmtcdn.com/data/webuikit/23e930757c3df49840c482a8638bf5c31556001144.png" />
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <div style="padding: 10px 40px;color:rgb(105, 105, 105);font-size: 13px;">
        <span>
            By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2008-2022 © Zomato™ Ltd. All rights reserved.
        </span>
    </div>
</div>
