<div class="homegrid" *ngIf="loading === false;else content">
    <div *ngFor="let obj of gridData">
    <a routerLink="/orderOnline" routerLinkActive="active" ariaCurrentWhenActive="page"><div class="grid">
        <h3>{{obj.title}}</h3>
        <span>{{obj.description}}</span>
    </div></a>
    </div>
</div>
<ng-template #content>
    loading ...
</ng-template>
<div class="collectionHeading">
    <h1>Collections</h1>
    <span>Explore curated lists of top restaurants, cafes, pubs, and bars in Kolkata, based on trends</span>
</div>
<div class="collectionGrid">
    <div class="grid" style="background:url(https://b.zmtcdn.com/data/collections/f6d732dc7432ad6e80a309cce6f0745a_1665640262.jpg?output-format=webp)">
        <span>Great Buffets</span>
        <span>8 Places</span>
    </div>
    <div class="grid" style="background:url(https://b.zmtcdn.com/data/collections/c6446d626ba68217c01d4318cebf4a1d_1665729718.jpg?output-format=webp)">
        <span>Insta-worthy Places</span>
        <span>9 Places</span>
    </div>
    <div class="grid" style="background:url(https://b.zmtcdn.com/data/collections/815d25493a0f8760dba79e1ce5a60f02_1665730400.jpg?output-format=webp)">
        <span>Best Bars and Pubs</span>
        <span>15 Places</span>
    </div>
    <div class="grid" style="background:url(https://b.zmtcdn.com/data/collections/4357cc5382783a70c00a33c1c5cc2ed6_1665728005.jpg?output-format=webp)">
        <span>Lip-smacking Fish</span>
        <span>8 Places</span>
    </div>
</div>
