<div class="homegrid">
    <div class="grid">
        <h3>Order Online</h3>
        <span>Stay home and order to your doorstep</span>
    </div>
    <div class="grid">
        <h3>Dining</h3>
        <span>View the city's favorite dining venues</span>
    </div>
    <div class="grid">
        <h3>Nightlife and Clubs</h3>
        <span>Explore the city's top nightlife outlets</span>
    </div>
</div>
<div class="collectionHeading">
    <h1>Collections</h1>
    <span>Explore curated lists of top restaurants, cafes, pubs, and bars in Kolkata, based on trends</span>
</div>
<div class="collectionGrid">
    <div class="grid" style="background:url(https://b.zmtcdn.com/data/collections/f6d732dc7432ad6e80a309cce6f0745a_1665640262.jpg?output-format=webp)">
        <span>Great Buffets</span>
        <span>8 Places</span>
    </div>
    <div class="grid" style="background:url(https://b.zmtcdn.com/data/collections/c6446d626ba68217c01d4318cebf4a1d_1665729718.jpg?output-format=webp)">
        <span>Insta-worthy Places</span>
        <span>9 Places</span>
    </div>
    <div class="grid" style="background:url(https://b.zmtcdn.com/data/collections/815d25493a0f8760dba79e1ce5a60f02_1665730400.jpg?output-format=webp)">
        <span>Best Bars and Pubs</span>
        <span>15 Places</span>
    </div>
    <div class="grid" style="background:url(https://b.zmtcdn.com/data/collections/4357cc5382783a70c00a33c1c5cc2ed6_1665728005.jpg?output-format=webp)">
        <span>Lip-smacking Fish</span>
        <span>8 Places</span>
    </div>
</div>
